.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 250px 50px;
  border-bottom: 0.5px solid gray;
}
a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: skyblue;
}
.nav-brand {
  display: flex;
}
.nav-menu {
  display: flex;
  width: 500px;
  justify-content: center;
}
.nav-login {
  display: flex;
  justify-content: flex-end;
}
#sign-up {
  padding-left: 20px;
}
#list-center {
  padding: 0 50px;
}