.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 1% 10% 2% 10%;
  border-bottom: 0.5px solid gray;
}
a {
  color: gray;
  text-decoration: none;
}
a:hover {
  color: skyblue;
}
.nav-brand {
  display: flex;
}
.nav-menu {
  display: flex;
  width: 500px;
  justify-content: center;
}
p {
  margin: 0;
  padding: 0 7%;
}
.nav-login {
  display: flex;
  min-width: 200px;
  justify-content: flex-end;
}
